/** {border: 1px solid grey;}*/
 body {
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
}

.header {
    background-image: url("https://picsum.photos/1200/1500");
    background-size: cover;
    padding: 30px;
    height: 10em;
}

.nav {
    /*display: grid;*/
    /*grid-template-columns: auto auto auto auto auto auto auto auto;*/

    height: 50px;
    padding-top: 15px;
    background-color: #f8f8f8;
}
@media only screen and (min-width: 300px) {
    .nav {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}
.alignco{
    padding-top: 10px;
}
.disable{
    padding-top: 10px;
    text-align: left;
    margin-left: 35px;
}
.logo{
    padding-top: 10px;
    color: lightgreen;
}
.dropdown{
    padding-top: 10px;
}
.dropdown-menu{
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-right: 30px;
}
body > div > div.nav > div > a:hover{
    color: lightgreen;
}
.button{
    border: 1px solid lightgreen;
    color: lightgreen;
    background: none;
    width: 70px;
    height: 30px;
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 8px;
    margin-right: 5px;
    border-radius: 7%;
    transition: .6s;
    padding-bottom: 5px;
}
.button:hover{
    background: lightgreen;
    color: white;
    cursor: pointer;
}
.search-txt{
    border: 1px solid lightgray;
    height: 30px;
    padding-left: 10px;
}
.main {
    padding: 30px;
    height: 10em;
}


.pagin {
    display: inline-block;
    text-align: center;
}
.pagin a{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    font-size: 25px;
}
.pagin a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagin a:hover:not(.active) {background-color: #dddddd;}
.pagin a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.pagin a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer{
    padding: 30px;
    height: 10em;
}

@media screen and (max-width: 900px) {
    .pagination a {
        padding: 4px 8px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .pagination a {
        padding: 4px 8px;
        font-size: 15px;
    }
}
