
body {
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
}

.header {
    background-image: url("https://picsum.photos/1200/1500");
    background-size: cover;
    padding: 30px;
    height: 10em;
}

.nav {
    display: grid;
    grid-template-columns: 100px 100px 150px 130px 320px 300px 100px;
    height: 50px;
    padding-top: 15px;
    background-color: #f8f8f8;
}
.wrapper2{
    height: 25px;
    background-color: white;
    border-radius: 5%;
    padding-top: 10px;
    text-align: left;
    padding-left: 10px;
}
.alignco{
    padding-top: 10px;
}
.disable{
    padding-top: 10px;
    text-align: left;
    margin-left: 35px;
}
.logo{
    padding-top: 10px;
    color: lightgreen;
}
.dropdown{
    padding-top: 10px;
}
.dropdown-menu{
    list-style-type: none;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-right: 30px;
}
body > div > div.nav > div > a:hover{
    color: lightgreen;
}
body > div > div.nav > div.button{
    padding-top: 10px;
}
button{
    border: 1px solid lightgreen;
    color: lightgreen;
    background: none;
    width: 70px;
    height: 30px;
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 8px;
    margin-right: 5px;
    border-radius: 7%;
    transition: .6s;
}
button:hover{
    background: lightgreen;
    color: white;
    cursor: pointer;
}
.main {
    padding: 30px;
    height: 10em;
}

.pagination {
    padding: 30px;
    height: 10em;
}

.footer{
    padding: 30px;
    height: 10em;
}