* {border: 1px solid grey;}
body {
    font-family: sans-serif;
    margin: auto;
    font-size: 17px;
    text-align: center;
    max-width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.header {
    background-image: url("https://picsum.photos/1200/1500");
    background-size: cover;
    padding: 30px;
    height: 10em;
}

.nav {
    padding: 30px;
    height: 10em;
}

.main {
    padding: 30px;
    height: 10em;
}

.pagination {
    padding: 30px;
    height: 10em;
}

.footer{
    padding: 30px;
    height: 10em;
}